@charset "UTF-8";

html{
    font-size:var(--root-font-size);
}

body,h1,h2,h3,h4,h5,h6,p,ul,li,figure{
    margin:0;
    padding:0;
    list-style:none;
}
body{
    box-sizing:border-box;
}
.buttonSector form{
    height:100%;
    width:100%;
    margin:0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

:root{
    --root-font-size:16px;
    --mobile-height:650px;
    --mobile-width:365px;
    --button-font-size:1.5rem;
    --input-text-size:1.5rem;
}

/* 全体*/
.wrapper{
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(180deg, rgb(255, 255, 140) 0%, rgba(255,255,140) 60%, rgb(255, 174, 198) 100%);
    align-content: center;
}


.NONE{
    display:none;
}



/***************************************************************/
/*
/*  モーダルウィンドウ 詳細設定画面
/*
****************************************************************/

/*ポイント作成画面モーダルウィンドウ*/


.wrapper .configContainer{
    height:85%;
    width: 95%;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(180deg, rgba(94, 251, 115, 0.561) 40%, rgba(255, 108, 177, 0));
    border-radius:10px;
    flex-wrap: wrap;
    align-content: center;
}

.configContainer .sectorA{
    width:90%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.sectorA .titleSection{
    height:15%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(251, 240, 76);
    border-radius:10px;

}
.titleSection .title{
    height:auto;
    width:95%;
    font-size:3vh;
    font-weight:700;
    text-align: center;
    color:red;
}
.sectorA .configSection{
    height:75%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle,#8cf6f1 65%,rgb(107, 186, 255));
    border-radius:10px;
}

.configSection .itemSection{
    height:100%;
    width:95%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:space-around;
    flex-wrap: wrap;
    border-radius: 10px;
}


.sectorA .buttonSector{
    height:30%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    color:rgba(45, 146, 192, 0.664);
}




/*ボタン*/
.buttonSector .setButtonA{
    height:70%;
    width:35%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-weight: 800;
    color:rgb(255, 83, 83);
    background: radial-gradient(circle,#fffb01 65%,#ff5100e8);
    border-radius: 50vh;
    min-height:50px;
    cursor:pointer;
}
.setButtonA:active{
    color:rgba(255, 57, 57, 0.555);
    background: radial-gradient(circle,#fdc190 50%,#ffe601,#ff00aae8);
    box-shadow: 0 0 20px rgb(255, 251, 2) inset;
}
.buttonSector .setButtonB{
    height:70%;
    width:35%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-weight: 800;
    color:rgb(100, 83, 255);
    background: radial-gradient(circle,#fffb01 65%,#ff5100e8);
    border-radius: 50vh;
    min-height:50px;
    cursor:pointer;
}
.setButtonB:active{
    color:rgba(57, 60, 255, 0.719);
    background: radial-gradient(circle,#fdc190 50%,#ffe601,#ff00aae8);
    box-shadow: 0 0 20px rgb(255, 251, 2) inset;
}


/*横長（デバイス横向き）である場合*/
@media (orientation: landscape){
    .titleSection .title{
        font-size:2.5vw;
    }
    /*ボタン*/
    .buttonSector .setButtonA{
        font-size: 2.7vw;
        width:40%;
    }
    /*ボタン*/
    .buttonSector .setButtonB{
        font-size: 2.7vw;
        width:40%;
    }
    .configContainer .sectorA{
        max-width:800px;
    }

}
