@charset "UTF-8";

html{
    font-size:var(--root-font-size);
}

body,h1,h2,h3,h4,h5,h6,p,ul,li,figure{
    margin:0;
    padding:0;
    list-style:none;
}
body{
    box-sizing:border-box;
}
form{
    height:100%;
    width:100%;
    margin:0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

:root{
    --root-font-size:16px;
    --mobile-height:650px;
    --mobile-width:365px;
    --button-font-size:1.5rem;
    --input-text-size:1.5rem;
}

/* 全体*/
.wrapper{
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(180deg, rgb(255, 255, 25) 0%, rgb(255, 255, 118) 60%, rgb(255, 139, 174) 100%);
    align-content: center;
}

/*map表示領域*/
.wrapper .mainContainer{
    height:85%;
    width: 95%;
    border-radius:10px;
    display:flex;
    justify-content: center;
    align-items:center;
    align-content: center;
    flex-wrap: wrap;
    overflow: hidden;
/*     background-color: rgba(255, 255, 255, 0.424);
 */
    border-radius:10px;

}

/*ルートボタン部分*/
.mainContainer .mainSector{
    width:90%;
    height:92%;
    padding: 10px 0px 10px 0px;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius:50vh;
}

.mainSector .title{
    width:100%;
    height:auto;
    display: flex;
    justify-content:center;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size:23vw;
    color:rgb(255, 95, 108);
    font-weight: 1000;
    background: radial-gradient(circle,#b0fbff1f 20%,#ffffff00);
}
.title .P{
    font-size:28vw;
    font-weight:1000;
    color:rgb(255, 29, 104);
}


/*ボタン領域*/
.wrapper .buttonContainer{
    height:10%;
    width:95%;
    background-color:rgba(255, 255, 255, 0);
    border-radius:5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*登録ボタン*/
.buttonContainer .setButton{
    height:70%;
    width:35%;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 5vw;
    font-weight: 700;
    color:rgba(248, 90, 164, 0.719);
    background: radial-gradient(circle,#fffb01 65%,#ff00c8);
    border-radius: 50vw;
    min-height:50px;
    transition: all 0.2s ease;
    cursor:pointer;
}
.setButton:active{
    color:rgba(255, 57, 149, 0.719);
    background: radial-gradient(circle,#fdc190 50%,#ffe601,#ff00aae8);
    box-shadow: 0 0 20px rgb(255, 251, 2) inset;
}

/*戻るボタン*/
.buttonContainer .backButton{
    height:70%;
    width:35%;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 5vw;
    font-weight: 700;
    color:rgba(90, 151, 248, 0.719);
    background: radial-gradient(circle,#fffb01 65%,#ff00aae8);
    border-radius: 50vw;
    min-height:50px;
    transition: all 0.2s ease;
    cursor:pointer;
}
.backButton:active{
    color:rgba(39, 120, 251, 0.719);
    background: radial-gradient(circle,#fdc190 50%,#ffe601,#00b7ffe8);
    box-shadow: 0 0 20px rgb(255, 251, 2) inset;
}



/*横長（デバイス横向き）である場合*/
@media (orientation: landscape){
    .wrapper{
        display:inline-flex;
        flex-direction: row-reverse;
    }
    /*MAP表示領域*/
    .wrapper .mainContainer{
        height:95%;
        width:85%;
    }
    /*ボタン領域*/
    .wrapper .buttonContainer{
        height:95%;
        width:10%;
        max-width: 120px;
        overflow: hidden;
        writing-mode: vertical-rl;
        text-orientation: upright;
        display:flex
    }
    /*タイトル*/
    .mainSector .title{
        font-size:15vh;
    }
    .title .P{
        font-size:25vh;
    }
    /*登録ボタン*/
    .buttonContainer .setButton{
        width:70%;
        height:25%;
        font-size:2.5vh;
        font-weight: 1000;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
    /*戻るボタン*/
    .buttonContainer .backButton{
        width:70%;
        height:25%;
        font-size:2.5vh;
        font-weight:1000;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }


}
